langchain
langchain-core
langchain-community
langchain-text-splitters

# LLM Providers

langchain-openai
langchain-mistralai
langchain-huggingface
langchain-chroma
openai
mistralai

# Vector Database

chromadb

# Embedding Models

sentence-transformers

# Document Loaders dependencies

pypdf
unstructured
beautifulsoup4
lxml

# Text Processing

tiktoken

# Environment Variables

python-dotenv

# Data Handling

pandas
numpy

# API / App Layer (optional but common in RAG apps)

fastapi
uvicorn

# UI (optional)

streamlit

# Utilities

tqdm
requests

#hugginface

langchain-huggingface

#ggogle 

langchain-google-genai
google-generativeai